<!doctype html>  
<html lang="es">

    <div align=center>
        <h1>
            Su combinacion de nombre y contraseña no es correcta o no existe.
            ¿Quiere registrarse?
        </h1>
    </div>

    <div>
        <p>
            <h1>{{user}}</h1><a href="/accounts/login/"></h1>
            <h2>Volver atras</h2>
        </p>
    </div>
    <div>
        <p>
            <h1>{{user}}</h1><a href="/accounts/login/"></h1>
            <h2>Registrarse</h2>
        </p>
    </div>
    

    
</html>
